{% extends "base.html" %}

{% block content %}
<div class="card form-card">
    <h2>Edit Learner</h2>

    <form method="POST">
        <label>Full Name</label>
        <input type="text" name="learner_name" value="{{ learner.learner_name }}" required>

        <label>Email</label>
        <input type="email" name="email" value="{{ learner.email }}" required>

        <label>Phone Number</label>
        <input type="text" name="phone_number" value="{{ learner.phone_number }}" required>

        <button type="submit" class="btn">Update Learner</button>
    </form>
</div>
{% endblock %}