{% extends "base.html" %}

{% block content %}
<div class="card">
    <h2>Enrollment List</h2>

    <table>
        <tr>
            <th>Enrollment ID</th>
            <th>Learner</th>
            <th>Course</th>
            <th>Enrollment Date</th>
            <th>Status</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.enrollment_id }}</td>
            <td>{{ row.learner_name }}</td>
            <td>{{ row.course_name }}</td>
            <td>{{ row.enrollment_date }}</td>
            <td>{{ row.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}